
<nav class="navbar navbar-primary">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand" >Restaurants App</a>
    </div>


    <ul class="nav navbar-nav">
     
      <li><a routerLink="add">Add Restaurants</a>  </li>
      <li><a routerLink = "list">List Restaurants</a></li>
      <li><a routerLink ="login">login Restaurants</a></li>
      <li><a routerLink = "regiester">Regiester Restaurants</a></li>
      <li><a routerLink = "update">Update Restaurants</a></li>
    </ul>
  </div>
</nav>



<div class="container">
  <router-outlet></router-outlet>
  <footer> 
<p class="footer">

  Regiester Your Restaurants with us
</p>

  </footer>
</div>
